@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">

    <title>
        Black Dashboard by Creative Tim
    </title>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="~/Assest/dashboardAssets/dashboardCss/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="~/Assest/dashboardAssets/dashboardCss/black-dashboard.min.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Assest/dashboardAssets/dashboardDemo/demo.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/chatr.js")
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
</head>
@section topCSS{
    <style>
        .navbar-absolute {
            position:absolute;
        }
    </style>
}
    <body class="">
        <div class="wrapper">
            <div class="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <div class="navbar-toggle d-inline">
                                <button type="button" class="navbar-toggler">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </button>
                            </div>
                            <a class="navbar-brand" href="javascript:void(0)">Style'G</a>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navigation">
                            <ul class="navbar-nav ml-auto">
                                <li class="search-bar input-group">
                                    <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal">
                                        <i class="tim-icons icon-zoom-split"></i>
                                        <span class="d-lg-none d-md-block">Search</span>
                                    </button>
                                </li>
                                <li class="dropdown nav-item">

                                    <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                                        <li class="nav-link">
                                            <a href="#" class="nav-item dropdown-item">Mike John responded to your email</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown nav-item">
                                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                        <div class="photo">
                                            <img src="~/Assest/dashboardAssets/dashboardImg/anime3.png" alt="Profile Photo" />
                                        </div>
                                        <b class="caret d-none d-lg-block d-xl-block"></b>
                                        <p class="d-lg-none">
                                            Log out
                                        </p>
                                    </a>
                                    <ul class="dropdown-menu dropdown-navbar">
                                        <li class="nav-link">
                                            <a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a>
                                        </li>
                                        <li class="nav-link">
                                            <a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        @{
                                            if (Convert.ToBoolean(Session["master_auth"]) == true)
                                            {
                                                using (Html.BeginForm("Logout", "dashboardIndex", FormMethod.Post))
                                                {
                                                    <li class="nav-link">
                                                        <a href="~/Views/dashboardIndex/Login">
                                                            <input type="submit" value="Log out" class="nav-item dropdown-item" />
                                                        </a>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="nav-link">
                                                    <a href="javascript:void(0)" class="nav-item dropdown-item">Log in</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="separator d-lg-none"></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="tim-icons icon-simple-remove"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Navbar -->
                <div class="content">
                    <div class="row">
                        <!--body inside-->
                        @RenderBody()
                    </div>
                </div>
                @*<footer class="footer"></footer>*@
            </div>
            <div class="sidebar">
                <!--
            Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
        -->
                <div class="sidebar-wrapper">

                    <ul class="nav">
                        <li>
                            <a href="/dashboardProduct/Index">
                                <i class="tim-icons icon-chart-pie-36"></i>
                                <p>銷售量</p>
                            </a>
                        </li>
                        <li>

                            <a href="/OrdersCRUD/Index">
                                <i class="tim-icons icon-paper"></i>
                                <p>訂單資料</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboardCategory/Index">
                                <i class="tim-icons icon-bullet-list-67"></i>
                                <p>產品分類</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboardProduct/createProduct">
                                <i class="tim-icons icon-notes"></i>
                                <p>商品列表</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboardCustomer/Index">

                                <i class="tim-icons icon-single-02"></i>
                                <p>會員管理</p>


                            </a>
                        </li>
                        <li>
                            <a href="/dashboardIndex/Index">
                                <i class="tim-icons icon-chart-pie-36"></i>
                                <p>管理員管理</p>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>




        </div>

        @*<script src="~/Assest/dashboardAssets/dashboardJs/core/jquery.min.js"></script>*@

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        @RenderSection("endCSS", required: false)
        @RenderSection("endJS", required: false)

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>

        <script src="~/Assest/dashboardAssets/dashboardJs/core/popper.min.js"></script>
        <script src="~/Assest/dashboardAssets/dashboardJs/core/bootstrap.min.js"></script>
        <script src="~/Assest/dashboardAssets/dashboardJs/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!--  Google Maps Plugin    -->
        <!-- Place this tag in your head or just before your close body tag. -->
        @*<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>*@
        <!-- Chart JS -->
        <script src="~/Assest/dashboardAssets/dashboardJs/plugins/chartjs.min.js"></script>
        <!--  Notifications Plugin    -->
        <script src="~/Assest/dashboardAssets/dashboardJs/plugins/bootstrap-notify.js"></script>
        <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="~/Assest/dashboardAssets/dashboardJs/black-dashboard.min.js?v=1.0.0"></script>
        <!-- Black Dashboard DEMO methods, don't include it in your project! -->
        <script src="~/Assest/dashboardAssets/dashboardDemo/demo.js"></script>



    </body>

