<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/chatr.js")
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)

</head>
<body>
    <style>
        body {
            font-family: 'Microsoft JhengHei';
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("應用程式名稱", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("關於", "About", "Home")</li>
                    <li>@Html.ActionLink("連絡人", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content" style="padding:0;">
        @RenderBody()
        @*<hr />*@
    </div>
    <div class="p-3 mb-2 bg-secondary text-white">
        <div class="container my-5">
            <div class="d-flex justify-content-around text-white">
                <div>
                    <h4 role="presentation">
                        Airbnb
                    </h4>
                    <ul class="list-unstyled ">
                        <li><a href="..">工作機會</a></li>
                        <li><a href="..">媒體</a></li>
                        <li><a href="..">政策</a></li>
                        <li><a href="..">協助</a></li>
                        <li><a href="..">多元化與歸屬感</a></li>
                    </ul>
                </div>
                <div>
                    <h4 role="presentation">
                        Tenso
                    </h4>
                    <ul class="list-unstyled">
                        <li><a href="..">信任與安全</a></li>
                        <li><a href="..">Travel Credit</a></li>
                        <li><a href="..">Airbnb公民</a></li>
                        <li><a href="..">商務差旅</a></li>
                        <li><a href="..">旅遊指南</a></li>
                        <li><a href="..">Airbnb雜誌</a></li>
                    </ul>
                </div>
                <div>
                    <h4 role="presentation">
                        Rate
                    </h4>
                    <ul class="list-unstyled">
                        <li><a href="..">出租的好處</a></li>
                        <li><a href="..">邀請房東</a></li>
                        <li><a href="..">待客服務</a></li>
                        <li><a href="..">房東義務</a></li>
                        <li><a href="..">舉辦體驗新推出</a></li>
                        <li><a href=".."> Open Homes計劃</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
</body>
</html>
