@using MotorcycleTW.Models
@model LoginViewModel
@{
    ViewBag.Title = "登入";
}
<link href="~/Assets/css/Login.css" rel="stylesheet" />
<div class="center">
    <h2 class="text-center">@ViewBag.Title</h2>
    <div class="inner">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="text-center">
                    <a href="#" class="btn btn-solid-light-gray btn-facebook-login">
                        <div class="layout-row">
                            <div class="layout-cell">
                                <img src="//images.gogoroapp.com/my-gogoro/facebook-login-icon.png"
                                     style="margin-right: 10px;" alt="">用 Facebook 登入
                            </div>
                        </div><!-- layout-table -->
                    </a>
                    <p style="margin:20px 0;">或</p>
                </div>
                <div class="input">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    <div class="">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="input">
                    @Html.LabelFor(m => m.Password, new { @class = " control-label" })
                    <div class="">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="text-center l">
                    <input type="submit" value="登入" class="btn btn-primary" />
                </div>
            }
        </section>
    </div>
    @*只要您的密碼重設功能能夠進行帳戶確認，就啟用此項*@
    <div>
        @Html.ActionLink("忘記密碼?", "ForgotPassword", "Account", new { @class = "left" })
        @Html.ActionLink("註冊", "Register", "Account", new { @class = "right" })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
